<body style='background-color:black;text-align:center;font-size:25px;color:white;'>
{% if latest_question_list %}

	<br/>
    <div style='text-align:center;'>
    {% for question in latest_question_list %}
        <p><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></p><br/>
    {% endfor %}
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>