<body style='background-color:black;text-align:center;font-size:25px;color:white;'>

<h1>{{ question.question_text }}</h1>

{%for choice in question.choice_set.all%}
<p>{{choice.choice_text}} -- {{choice.votes}} votes</p>
{%endfor%}
<a href="{% url 'polls:detail' question.id %}">Vote again?</a>
</body>