<style>
body{
	background-color:black;
	color:white;
	text-align:center;
}

</style>
<body>
<h1> Choose which meal you want to cook</h1>
{%if meals%}
{%for m in meals%}
<h1> <a href='{{m.name}}'>{{m.getName}}</a></h1>
{%endfor%}
{%else%}
<h1>No meals available at the moment, sorry.</h1>
{%endif%}
</body>