
<head>
</head>
<body style='
background-color:black;
color:white;
text-align:center;'
	  id='body'
	  >
<div id='main'>
{%if meal %}
<h1> {{meal.getName}} is usually made of:</h1>
{%for ing in meal.ingredient_set.all%}
	{%if ing.price != 0 or all%}
<h2>{{ing.name}} -- {{ing.price}} dollars</h2>
<form action="#" method="post">
	{% csrf_token %}
 <button type="submit" class="btn" value="{{ing.id}}" name="priceUp" id='{{ing.name}}'>+</button>

 <button type="submit" class="btn" value="{{ing.id}}" name="priceDown" id='{{ing.name}}'>-</button>
</form>
	{%endif%}
{%endfor%}
<h2>Therefore the total cost of {{meal.getName}} is {{meal.getPrice}} dollars</h2>
	<form action='#' method ='post'>
		{%csrf_token%}
		<button id='filterFree' name='ff' value = {{all}}>Hide free ingredients</button>
		<button id='filterFree' name='sf' value = {{all}}>Show free ingredients</button>
	</form>
	<button id='newOne' >Add new Ingredient</button>
{%else%}
<h1>whaddup</h1>
	{%endif%}
	</div>
<h2 id='footer'><a href='/cook/'>Go back to main screen</a></h2>
	<script>
		added = false;
	function addForm(){
		if(!added){
		str = '<br/><input type=\'text\' id="enterHere"/>'
			+'<form action="#" method="post">'
			+"{% csrf_token %}"
			+'<button id="addBtn" name="adding" value="">Add</button><br/>'
			+'</form>';
		var div = document.createElement('div');
		div.innerHTML = str;
	document.getElementById('main').appendChild(div);
	document.getElementById('addBtn').addEventListener('click',submitNew);
		added = true;}
	}
	window.onload = document.getElementById('newOne').addEventListener('click',addForm);
	
		function submitNew(){
		iName = document.getElementById("enterHere").value;
		document.getElementById('addBtn').value = iName;
		console.log(iName+ document.getElementById('addBtn').value);
		}
		
		
	</script>
</body>

